:root{
    --primary-color: #C83C35;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Oxanium;
}
.cenario{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -999;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    background-color: #161616;
    height: 42px;
    width: 100%;
    justify-content: flex-end;  
    align-items: center;
    gap: 20px;
}

.EA{
    padding-right: 40px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1675px;
    height: 81.5px;
    background-image: url(/img/BackgroundHeader.svg);
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transform: translate(0,-5px);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.download{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 233px;
    height: 48px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
    color: white;
}
.container-jogar{
    height: 423.76px;
    width: 861px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.informacao-do-jogo{
    font-size: 25px;
}
.botoes{
    display: flex;
    gap: 24px;
}
.container-play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 281px;
    height: 71px;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    gap: 100px;
}
.container-play::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #f24c00;
}
.elementos-internos-play{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 1px; /* ajusta para alinhar a barra branca */
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
}
.elementos-internos-play img {
    margin-left: 40px;
    display: flex;
    width: 120px;
    height: auto;

}
.titulo-play{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    width: 200px;
}
.container-assistir-trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 281px;
    height: 71px;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    gap: 100px;
}
.container-assistir-trailer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #f24c00;
}
.elementos-internos-trailer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 1px; /* ajusta para alinhar a barra branca */
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
}
.elementos-internos-trailer img {
    margin-left: 55px;
    display: flex;
    width: 120px;
    height: auto;
}
.botao-trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 23px;
    width: 250px;
}
.personagem img{
    transform: translate(0,50px);
    width: 875px;
    height: 906px;
}